{{define "T"}}
<!DOCTYPE html>
<html>
<head>
  <title>Open Core Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.png">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/simple-grid.css">
  <link rel="stylesheet" href="/css/zc-grid.css">

  <script type="module" src="/js/components/csdco-res.js"></script>
  <script type="module" src="/js/components/fcore-sparql.js"></script>
  <script type="module" src="/js/components/fcore-doviewer.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.14/dist/shoelace/shoelace.css">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.14/dist/shoelace/shoelace.esm.js"></script>

  <script type="application/ld+json">
      {{.JSONLD}}
  </script>

  <style>
  .card-footer {
    max-width: 300px;
  }

  .card-footer [slot="footer"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>


		  <!-- leaflet stuff-->

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>

	  <!-- 
		  <link rel="stylesheet" href="/common/js/markercluster/dist/MarkerCluster.css" />
		  <link rel="stylesheet" href="/common/js/markercluster/dist/MarkerCluster.Default.css" />
		  <script src="/common/js/markercluster/dist/leaflet.markercluster-src.js"></script>
		   -->
		  <style>
			  #map{ height: 400px }
			</style>
	  
	  

</head>
<body>
  <div class="jumbotron" style="background-image: linear-gradient(#7391ff, #625354);">
    <div class="container">
      <div class="row">
        <div class="col-12 center">
          <img style="height:100px" src="/img/logo22small.png">
          <h3 style="margin:5px;color:white">CSDCO Project</h3>
            <!-- 
          <div class="img img-logo center"></div>
          <h1>Simple Grid is a CSS grid for your website.</h1>
          <h2 class="font-light">Responsive, light, simple.</h2>
          <a href="simple-grid.zip" download>
            <button>Download</button>
          </a>
            -->
        </div>
        <div class="col-12 center">           
          <p>
            <a style="margin:5px;color:white "href="/index.html">home</a>
            <a style="margin:5px;color:white "href="/search.html">search</a>
            <a style="margin:5px;color:white "href="/about.html">about</a>
          </p>
      </div>
 
      </div>
      <div class="row">
        <div class="col-2 hidden-sm"></div>
      </div>
     </div>
  </div>

    
  <div class="body-content" style="padding:0px">
    <div style="padding:0px;top:0px" class="container">
      <div class="row">
        <div class="col-12">

          <div id="map"></div>

      
            <!-- <div id="container1"></div> -->
			      <div id="container2">
              <!-- <fc-test></fc-test> -->
              <hr>
              <csdco-res></csdco-res>
              <hr>
              <!-- <h3>DO View</h3>
              <fc-doview></fc-doview>
              <hr>
              <h3>SPARQL call (Test data, not related to project)</h3>
              <fc-sparql></fc-sparql> -->
            </div>
        </div>
      </div>
    </div>
  </div>


  <footer style="padding-bottom:5px;background-image: linear-gradient(#7391ff, #625354);">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6 style="color:white">Open Core Data was funded by the National Science Foundation</h6>
          <h6 style="color:grey">Simple Grid by <a style="color:grey" href="http://zcole.me" target="_blank">Zach Cole</a>
            Open source under the <a style="color:grey" href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>
          </h6>
        </div>
      </div>
    </div>
  </footer>


  
  <script>
    // Create the map
    //refs:  https://gist.github.com/alexgleith/7112515

    // Set up the ESRI tiles and the initial map object        
    var tiles = L.tileLayer(
      'https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}', {
      maxZoom: 6,
      attribution: '&copy; ESRI'
    }),

      latlng = L.latLng(0.0, 0.0);

    var map = L.map('map', {
      center: latlng,
      zoom: 2,
      layers: [tiles]
    });

    var geojsonMarkerOptions = {
      radius: 10,
      fillColor: "rgb(255,0,195)",
      color: "#fff",
      weight: 2,
      opacity: 1,
      fillOpacity: 1
    };

    // Get the ocean data
    var resURL = "{{.PID}}"
    console.log(resURL)
    var g1 = resURL.replace(".jsonld", ".geojson")
    var g2 = g1.replace("csdco/", "id/csdco/")
    console.log(g2)
    var geoJsonURL = g2

    fetch(g2)
      .then(response => response.json())
      .then(data => L.geoJson(data, {
        pointToLayer: function (feature, latlng) {
          var popupOptions = {
            maxWidth: 300
          };
          var popupContent = "<a href='" + "feature.properties.URI" + "'>URL (testing)</a>";
          console.log(data);
          console.log(feature);

          return L.circleMarker(latlng, geojsonMarkerOptions).bindPopup(popupContent, popupOptions);
        }
      }).addTo(map)
      
      // map.fitBounds(data.getBounds())

      )
      .then( data => map.flyToBounds(data.getBounds()) )

    
  </script>

</body>
</html>
{{ end }}
