{{define "T"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Open Core Data">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Core Data</title>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/common/images/android-desktop.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="/common/images/ios-desktop.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/common/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <link rel="shortcut icon" href="/common/images/favicon.png" />
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"   rel="stylesheet"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <!-- <link rel="stylesheet" href="material.min.css"> -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.teal-blue.min.css" />
    <link rel="stylesheet" href="/common/Material/ocdstyle.css">
    <!-- Load leaflet component -->
    <!--<script src="/common/components/leaflet-element/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/common/components/leaflet-element/bower_components/leaflet-map/leaflet-map.html">
    <link rel="import" href="/common/components/leaflet-element/bower_components/iron-ajax/iron-ajax.html">
   -->
    <!-- leaflet stuff -->
    <link rel="stylesheet" href="/common/js/leaflet/leaflet.css" />
    <script src="/common/js/leaflet/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/common/js/markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="/common/js/markercluster/dist/MarkerCluster.Default.css" />
    <script src="/common/js/markercluster/dist/leaflet.markercluster-src.js"></script>
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
        
        #map {
            height: 500px;
        }
        
        img {
            width: 100%;
            /* or any custom size */
            height: 100%;
            obj ect-fit: contain;
        }
        
        leaflet-map {
            height: 100%;
        }
    </style>
</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">Open Core Data</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="/">Home</a>
                        <a class="mdl-navigation__link" href="/collections/matrix">CSDCO Overview</a>
                        <a class="mdl-navigation__link" href="/collections/matrix">Janus Overview</a>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Open Core Data </span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/">Home</a>
                    <a class="mdl-navigation__link" href="/collections/matrix">Janus Overview</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="mdl-layout__tab-panel is-active" id="overview">
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--white-100 mdl-color-text--white">
                            <img src="/common/images/300px-JOIDES_Resolution,_2009.jpg" />
                        </header>
                        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-card__supporting-text">
                                <h5>Expedition Information </h5>
                                <p>Cruise Type: {{.Cruise.Program}}</p>
                            </div>
                            <!--  <div class="mdl-card__actions">
                                <a href="#" class="mdl-button">Sets in this collection</a>
                            </div> -->
                        </div>
                    </section>
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-card__supporting-text">
                                <h5>Expedition Sites and Holes</h5>
                                <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                                    {{ range $LSH := .LSHSlice}}
                                    <span>
                                <a href="{{.}}">{{.}}</a>  
                                 </span>
                                    <br/> {{end}}
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                            <h5>Map</h5>
                            <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                                <div style="margin:5px;height:400px;width:100%">
                                    <div id="map"></div>
                                    <div id="info">
                                        <h5>Building map...  please wait...</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-card__supporting-text">
                                <h5>Available Datasets for this Expedition</h5>
                                <div>
                                    <table style="width:100%" class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                                        <thead>
                                            <tr>
                                                <th class="mdl-data-table__cell--non-numeric">Measurement</th>
                                                <th class="mdl-data-table__cell--non-numeric">Leg</th>
                                                <th class="mdl-data-table__cell--non-numeric">Site</th>
                                                <th class="mdl-data-table__cell--non-numeric">Hole</th>
                                                <th class="mdl-data-table__cell--non-numeric">Download</th>
                                            </tr>
                                        </thead>
                                        {{range $ITEMS := .Datasets}}
                                        <tr>
                                            <td class="mdl-data-table__cell--non-numeric"> {{if .OpenCoreMeasurement}}{{.OpenCoreMeasurement}} {{end}}</td>
                                            <td class="mdl-data-table__cell--non-numeric"> {{if .OpenCoreLeg}}{{.OpenCoreLeg}} {{end}}</td>
                                            <td class="mdl-data-table__cell--non-numeric"> {{if .OpenCoreSite}}{{.OpenCoreSite}} {{end}}</td>
                                            <td class="mdl-data-table__cell--non-numeric"> {{if .OpenCoreHole}}{{.OpenCoreHole}} {{end}}</td>
                                            <td class="mdl-data-table__cell--non-numeric"> <a href="{{.URL}}">View Landing Page for Dataset</a></td>
                                        </tr> {{end}}
                                    </table>
                                </div>
                            </div>
                            <!--  <div class="mdl-card__actions">
                                <a href="#" class="mdl-button">Sets in this collection</a>
                            </div> -->
                        </div>
                    </section>
                </div>
                <footer class="mdl-mega-footer">
                    <div class="mdl-mega-footer--middle-section">
                    </div>
                    <div class="mdl-mega-footer--bottom-section">
                        <div class="mdl-logo">
                            More Information
                        </div>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="https://developers.google.com/web/starter-kit/">IEDA</a></li>
                            <li><a href="#">JRSO</a></li>
                            <li><a href="#">CSDCO</a></li>
                            <li><a href="#">COL</a></li>
                        </ul>
                    </div>
                </footer>
            </main>
        </div>
</body>
<script type="text/javascript">
    // Create the map
    //refs:  https://gist.github.com/alexgleith/7112515

    // Old school ajax caller..  needs updating so not on main thread sync event
    jQuery.extend({
        getValues: function(url) {
            var result = null;
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                async: false,
                success: function(data) {
                    result = data;
                }
            });
            return result;
        }
    });

    // Set up the ESRI tiles and the initial map object        
    var tiles = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}', {
            maxZoom: 18,
            attribution: '&copy; ESRI'
        }),

        latlng = L.latLng(0.78, 102.37);

    var map = L.map('map', {
        center: latlng,
        zoom: 1,
        layers: [tiles]
    });

    // Get the ocean data
    var geoJsonData = $.getValues("http://opencoredata.org/api/v1/spatial/expedition/{{.Cruise.Expedition}}");
    var geojsonMarkerOptions = {
        radius: 10,
        fillColor: "rgb(255,0,195)",
        color: "#fff",
        weight: 2,
        opacity: 1,
        fillOpacity: 1
    };

    var geojson = L.geoJson(geoJsonData, {
        pointToLayer: function(feature, latlng) {
            var popupOptions = {
                maxWidth: 300
            };
            var popupContent = feature.properties.URL;
            return L.circleMarker(latlng, geojsonMarkerOptions).bindPopup(popupContent, popupOptions);
        }
    });

    // Marker cluster settings
    var markers = L.markerClusterGroup({
        spiderfyOnMaxZoom: false,
        showCoverageOnHover: true,
        zoomToBoundsOnClick: true,
        disableClusteringAtZoom: 6
    });

    // Finish adding things to the map and present
    // markers.addLayer(geojson);
    map.addLayer(geojson);

    map.fitBounds(geojson.getBounds());
    // markers.addTo(map)
    $("#info").fadeOut(500);
</script>

</html>
{{end}}