 {{define "T"}}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Open Core Data Web site">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Open Core Data</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.grey-pink.min.css" />
    <link rel="stylesheet" href="/common/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- For the web components -->
    <script src="/common/components/ocdparams-element/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/common/bower_components/vaadin-grid/vaadin-grid.html">
    <!-- End -->
    <style is="custom-style">
        vaadin-grid {
            --vaadin-grid-row-height: 100px;
            --vaadin-grid-header-row-height: 44px;
        }
    </style>
    <style>
        .demo-list-two {
            width: 600px;
        }

        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }

        img {
            width: 75%;
            /* or any custom size */
            height: 75%;
            object-fit: contain;
        }
    </style>
    <script type="application/ld+json">
        {{.Schema}}
    </script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title">Open Core Data</span>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link is-active" href="/index.html">Home</a>
                    <a class="mdl-navigation__link" href="/community.html">Community</a>
                    <a class="mdl-navigation__link" href="/about.html">About</a>
                    <a class="mdl-navigation__link" href="/contact.html">Contact</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link is-active" href="/index.html">Home</a>
                <a class="mdl-navigation__link" href="/community.html">Community</a>
                <a class="mdl-navigation__link" href="/about.html">About</a>
                <a class="mdl-navigation__link" href="/contact.html">Contact</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-layout__tab-panel is-active" id="overview">
                <div class="mdl-cell mdl-card mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    <section class="section--center mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-card__supporting-text">
                                <h5>Janus Catalog Collection </h5>
                            </div>
                        </div>
                    </section>
                </div>


                <div class="mdl-cell mdl-card mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                    <section class="section--center mdl-grid mdl-grid--no-spacing">

                        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">


                            <ul class="demo-list-two mdl-list">

                                {{ range $datap := .URLdata }}

                                <li class="mdl-list__item mdl-list__item--two-line">
                                    <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">file_download</i>
        <span>Leg: {{$datap.Leg}} Measurement: {{$datap.Measure}}</span>
                                    <span class="mdl-list__item-sub-title">
                 <a href="/collections/measurement/{{$datap.Measure}}/{{$datap.Leg}}"> Data catalog link </a>
                
        </span>
                                    </span>
                                    <!-- <span class="mdl-list__item-secondary-content">
        <span class="mdl-list__item-secondary-info">Actor</span>
        <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
      </span> -->
                                </li>

                                {{ end }}
                            </ul>

                        </div>
                    </section>
                </div>




            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Open Core Data</div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Funded by the National Science Foundation</a></li>
                        <!--<li><a href="#">Privacy & Terms</a></li>-->
                    </ul>
                </div>
            </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</body>

</html>
{{end}}