{{define "T"}}
<!DOCTYPE html>
<html>

<head>
	<title>CSDCO</title>
	<link rel="stylesheet" type="text/css" href="/common/csdcorestmpl.css">
	<link rel="stylesheet" type="text/css" href="/common/nav.css">


	<!-- leaflet stuff -->
	<link rel="stylesheet" href="/common/js/leaflet/leaflet.css" />
	<script src="/common/js/leaflet/leaflet.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" href="/common/js/markercluster/dist/MarkerCluster.css" />
	<link rel="stylesheet" href="/common/js/markercluster/dist/MarkerCluster.Default.css" />
	<script src="/common/js/markercluster/dist/leaflet.markercluster-src.js"></script>


	<style>
	
        
        #map {
            height: 500px;
        }
        
       
        
        leaflet-map {
            height: 100%;
        }
    </style>


</head>

<body>
	<div class="ctnr">
		<div id="navbar">
			<nav class="container">
				<div class="m1">
					<a href="/" class="navLinks">Home</a>
				</div>
				<div class="m2">
					<a href="/csdco.html" class="navLinks">CSDCO</a>
				</div>

				<div class="logo">
				</div>

				<div class="m3">
					<a href="/collections/matrix" class="navLinks">JRSO</a>
				</div>
				<div class="m4">
					<a target="_blank" href="/voc/" class="navLinks">Dictionary</a>
				</div>
			</nav>
		</div>
		<header>CSDCO HoleID: {{.HoleID}}
		</header>
		<div id="subheader">
			<a href=/collections/csdco/project/{{.Project}}>{{.Project}}</a>
		</div>

		<div id="lkg">
			 
		</div>

		<main>
		
			<p>
				<div id="map"></div>
				<div id="info">
					<h5>Building map... please wait...</h5>
				</div>
			</p>

			<p>
				<p>Details</p>
				<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric">Name</th>
							<th class="mdl-data-table__cell--non-numeric">Datatype</th>
						</tr>
					</thead>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">LocationName </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .LocationName}}{{.LocationName}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">LocationType </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .LocationType}}{{.LocationType}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Project </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Project}}{{.Project}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">LocationID </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .LocationID}}{{.LocationID}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Site </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Site}}{{.Site}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Hole </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Hole}}{{.Hole}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">SiteHole </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .SiteHole}}{{.SiteHole}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">OriginalID </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .OriginalID}}{{.OriginalID}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">HoleID </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .HoleID}}{{.HoleID}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Platform </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Platform}}{{.Platform}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Date </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Date}}{{.Date}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">WaterDepthM </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .WaterDepthM}}{{.WaterDepthM}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Country </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Country}}{{.Country}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">State_Province </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .State_Province}}{{.State_Province}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">County_Region </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .County_Region}}{{.County_Region}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">PI </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .PI}}{{.PI}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Lat </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Lat}}{{.Lat}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Long </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Long}}{{.Long}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Elevation </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Elevation}}{{.Elevation}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Position </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Position}}{{.Position}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">StorageLocationWorking </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .StorageLocationWorking}}{{.StorageLocationWorking}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">StorageLocationArchive </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .StorageLocationArchive}}{{.StorageLocationArchive}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">SampleType </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .SampleType}}{{.SampleType}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">Comment </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .Comment}}{{.Comment}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">mblfT </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .MblfT}}{{.MblfT}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">mblfB </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .MblfB}}{{.MblfB}}{{end}}</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">MetadataSource </td>
						<td class="mdl-data-table__cell--non-numeric"> {{if .MetadataSource}}{{.MetadataSource}}{{end}}</td>
					</tr>
				</table>
				
			</p>
		

		</main>
		<div id="kg">
			 
		</div>
		<footer>Funded by the National Science Foundation</footer>
	</div>
</body>



<script type="text/javascript">
	// Create the map
	//refs:  https://gist.github.com/alexgleith/7112515

	// Old school ajax caller..  needs updating so not on main thread sync event
	jQuery.extend({
		getValues: function (url) {
			var result = null;
			$.ajax({
				url: url,
				type: 'get',
				dataType: 'json',
				async: false,
				success: function (data) {
					result = data;
				}
			});
			return result;
		}
	});

	// Set up the ESRI tiles and the initial map object        
	var tiles = L.tileLayer(
			'https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}', {
				maxZoom: 6,
				attribution: '&copy; ESRI'
			}),

		latlng = L.latLng(0.78, 102.37);

	var map = L.map('map', {
		center: latlng,
		zoom: 1,
		layers: [tiles]
	});

	// Get the ocean data
	// var geoJsonData = $.getValues("http://opencore.dev/api/v1/spatial/continental/BW2");
	var geoJsonData = $.getValues("http://opencoredata.org/api/v1/spatial/continental/{{.Project}}");
	var geojsonMarkerOptions = {
		radius: 10,
		fillColor: "rgb(255,0,195)",
		color: "#fff",
		weight: 2,
		opacity: 1,
		fillOpacity: 1
	};

	var geojson = L.geoJson(geoJsonData, {
		pointToLayer: function (feature, latlng) {
			var popupOptions = {
				maxWidth: 300
			};
			var popupContent = feature.properties.URL;
			return L.circleMarker(latlng, geojsonMarkerOptions).bindPopup(popupContent, popupOptions);
		}
	});

	// Marker cluster settings
	var markers = L.markerClusterGroup({
		spiderfyOnMaxZoom: false,
		showCoverageOnHover: true,
		zoomToBoundsOnClick: true,
		disableClusteringAtZoom: 6
	});

	// Finish adding things to the map and present
	// markers.addLayer(geojson);
	map.addLayer(geojson);

	map.fitBounds(geojson.getBounds());
	// markers.addTo(map)
	$("#info").fadeOut(500);
</script>


</html>
{{end}}