{{define "T"}}
<!DOCTYPE html>
<html>

<head>
	<title>CSDCO</title>
	<link rel="stylesheet" type="text/css" href="/common/csdcorestmpl.css">
	<link rel="stylesheet" type="text/css" href="/common/nav.css">


	<!-- leaflet stuff -->
	<link rel="stylesheet" href="/common/js/leaflet/leaflet.css" />
	<script src="/common/js/leaflet/leaflet.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" href="/common/js/markercluster/dist/MarkerCluster.css" />
	<link rel="stylesheet" href="/common/js/markercluster/dist/MarkerCluster.Default.css" />
	<script src="/common/js/markercluster/dist/leaflet.markercluster-src.js"></script>


	<style>
	
        
        #map {
            height: 500px;
        }
        
       
        
        leaflet-map {
            height: 100%;
        }
    </style>


</head>

<body>
	<div class="ctnr">
		<div id="navbar">
			<nav class="container">
				<div class="m1">
					<a href="/" class="navLinks">Home</a>
				</div>
				<div class="m2">
					<a href="/csdco.html" class="navLinks">CSDCO</a>
				</div>

				<div class="logo">
				</div>

				<div class="m3">
					<a href="/collections/matrix" class="navLinks">JRSO</a>
				</div>
				<div class="m4">
					<a target="_blank" href="/voc/" class="navLinks">Dictionary</a>
				</div>
			</nav>
		</div>
		<header>CSDCO Project: {{.Project}}
		</header>
		<div id="subheader">
			
		</div>

		<div id="lkg">
			 
		</div>

		<main>
		
			<p>
				<div id="map"></div>
				<div id="info">
					<h5>Building map... please wait...</h5>
				</div>
			</p>

			<p>

				re3data.org: NSF Facilities for Continental Scientific & Drilling & Coring; editing status 2018-10-24; 
				re3data.org - Registry of Research Data Repositories. http://doi.org/10.17616/R31817 last accessed: 2018-11-14

			</p>

			<p>
				<p>Features</p>
				<ul>
					{{ range $item := .CSDCO }}
					<li style="margin-top:15px">
						
						Project borehole feature with CSDCO Hole ID <a href='{{ $item.URI}}'>{{ $item.HoleID}}</a>
						and  IGSN entry: <a target='_blank' href='https://app.geosamples.org/sample/igsn/{{$item.IGSN}}'>{{$item.IGSN}}</a>.
						Dated {{$item.Date}} 
					 
					  </li>
					{{ end }}
				</ul>
				
			</p>

			<p>
				<p>Data Files</p>
				<ul>
					{{ range $item := .Packages }}
					<li>
						A data package for this project exist.  The package can be downloaded in full or select 
						individual files at: <a href='{{ $item.PURL}}'>{{ $item.PURL}}</a> </li>
					{{ end }}
				</ul>
				
			</p>
		

		</main>
		<div id="kg">
			 
		</div>
		<footer>Funded by the National Science Foundation</footer>
	</div>
</body>



<script type="text/javascript">
	// Create the map
	//refs:  https://gist.github.com/alexgleith/7112515

	// Old school ajax caller..  needs updating so not on main thread sync event
	jQuery.extend({
		getValues: function (url) {
			var result = null;
			$.ajax({
				url: url,
				type: 'get',
				dataType: 'json',
				async: false,
				success: function (data) {
					result = data;
				}
			});
			return result;
		}
	});

	// Set up the ESRI tiles and the initial map object        
	var tiles = L.tileLayer(
			'https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}', {
				maxZoom: 6,
				attribution: '&copy; ESRI'
			}),

		latlng = L.latLng(0.78, 102.37);

	var map = L.map('map', {
		center: latlng,
		zoom: 1,
		layers: [tiles]
	});

	// Get the ocean data
	// var geoJsonData = $.getValues("http://opencore.dev/api/v1/spatial/continental/BW2");
	var geoJsonData = $.getValues("http://opencoredata.org/api/v1/spatial/continental/{{.Project}}");
	var geojsonMarkerOptions = {
		radius: 10,
		fillColor: "rgb(255,0,195)",
		color: "#fff",
		weight: 2,
		opacity: 1,
		fillOpacity: 1
	};

	var geojson = L.geoJson(geoJsonData, {
		pointToLayer: function (feature, latlng) {
			var popupOptions = {
				maxWidth: 300
			};
			var popupContent = feature.properties.URL;
			return L.circleMarker(latlng, geojsonMarkerOptions).bindPopup(popupContent, popupOptions);
		}
	});

	// Marker cluster settings
	var markers = L.markerClusterGroup({
		spiderfyOnMaxZoom: false,
		showCoverageOnHover: true,
		zoomToBoundsOnClick: true,
		disableClusteringAtZoom: 6
	});

	// Finish adding things to the map and present
	// markers.addLayer(geojson);
	map.addLayer(geojson);

	map.fitBounds(geojson.getBounds());
	// markers.addTo(map)
	$("#info").fadeOut(500);
</script>


</html>
{{end}}
